body {
    background-color: #111;
    color: white;
}

td {
    border: 1px solid white;
}

th,
td {
    font-weight: bold;
    border: 1px solid white;
    padding: 10px;
    text-align: center;
}

td {
    font-weight: lighter;
}